:root {
    --color-primario: #554f47;
    --color-secundario: #817564;
    --color-terciario: #ad9c84;
    --color-fondo: #f4f4f4;
    --color-texto: #333333;
    --color-hover: #f1f1f1;
    --color-sombra: rgba(0, 0, 0, 0.2);
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color-primario);
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-sombra);
    width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: var(--color-primario);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-secundario);
}

p {
    color: red;
    margin-bottom: 15px;
}