/* Estilos generales */
:root {
    --color-primario: #554f47;
    --color-secundario: #817564;
    --color-terciario: #ad9c84;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-secundario);
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Banner promocional */
.banner {
    text-align: center;
    margin: 20px 0;
}

.banner img {
    max-width: 100%;
    border-radius: 10px;
}

/* Ofertas especiales */
.ofertas-especiales {
    background-color: var(--color-terciario);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.ofertas-especiales h2 {
    color: var(--color-primario);
    text-align: center;
}

/* Productos categorias */
.productos-categoria {
    background-color: var(--color-terciario);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.productos-categoria h2 {
    color: var(--color-primario);
    text-align: center;
}
/* Productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    background-color: #ffffff;
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
}

.producto h3 {
    color: var(--color-primario);
    font-size: 1.2em;
}

.producto p {
    color: var(--color-secundario);
    font-size: 1em;
}

.producto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--color-secundario);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.producto a:hover {
    background-color: var(--color-primario);
}

/* Categorías */
.categorias {
    background-color: var(--color-terciario);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.categorias h2 {
    color: var(--color-primario);
    text-align: center;
}

.categorias-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorias-lista a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: var(--color-secundario);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.categorias-lista a:hover {
    background-color: var(--color-primario);
}

.boton-todas-categorias {
    background-color: var(--color-primario);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

.boton-todas-categorias:hover {
    background-color: var(--color-secundario);
}